*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main{
    height: 100vh;
    background-color: black;
    color: white;
}
.navbar > ul{
    display: flex;
    gap: 2rem;

}
.navbar > ul a{
    color: white;
    font-size: 1.2rem;
}
.humburger{
    display: none;
}
.car-hero img{
    max-width: 600px;
}
.hero-content{
    max-width: 800px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.hero-content h1{
    font-size: 4rem;
}
.hero-content p{
    font-size: 1.2rem;
}
.hero-content button{
    max-width: 240px;
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}